name: Deploy Infrastructure and App

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

env:
  # Terraform State Backend Config
  RESOURCE_GROUP_NAME: ${{ secrets.BACKEND_RESOURCE_GROUP }}
  STORAGE_ACCOUNT_NAME: ${{ secrets.BACKEND_STORAGE_ACCOUNT }}
  CONTAINER_NAME: ${{ secrets.BACKEND_CONTAINER_NAME }}
  # App Variables
  TF_VAR_storage_account_name: "cmudemosa"

jobs:
  plan:
    name: Terraform Plan
    runs-on: self-hosted
    defaults:
      run:
        working-directory: ./infra
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_wrapper: false

      - name: Terraform Init
        run: |
          terraform init \
            -backend-config="resource_group_name=$RESOURCE_GROUP_NAME" \
            -backend-config="storage_account_name=$STORAGE_ACCOUNT_NAME" \
            -backend-config="container_name=$CONTAINER_NAME" \
            -backend-config="key=prod.terraform.tfstate"

      - name: Terraform Plan
        run: terraform plan -out=tfplan

      - name: Upload Plan Artifact
        uses: actions/upload-artifact@v4
        with:
          name: tfplan
          path: infra/tfplan

  deploy:
    name: Terraform Apply & Deploy
    needs: plan
    runs-on: self-hosted
    environment: production # This triggers Manual Approval if configured in GitHub
    defaults:
      run:
        working-directory: ./infra
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_wrapper: false

      - name: Download Plan Artifact
        uses: actions/download-artifact@v4
        with:
          name: tfplan
          path: infra

      - name: Terraform Init
        run: |
          terraform init \
            -backend-config="resource_group_name=$RESOURCE_GROUP_NAME" \
            -backend-config="storage_account_name=$STORAGE_ACCOUNT_NAME" \
            -backend-config="container_name=$CONTAINER_NAME" \
            -backend-config="key=prod.terraform.tfstate"

      - name: Terraform Apply
        run: terraform apply tfplan

      - name: Get Output
        id: output
        run: |
          echo "url=$(terraform output -raw web_endpoint_url)" >> $GITHUB_OUTPUT
          echo "sa_name=$(terraform output -raw storage_account_name)" >> $GITHUB_OUTPUT

      - name: Upload Index.html
        run: |
          az storage blob upload-batch \
            --account-name ${{ steps.output.outputs.sa_name }} \
            --source ../app \
            --destination '$web' \
            --overwrite

      - name: Show URL
        run: echo "Deployment Complete! Visit ${{ steps.output.outputs.url }}"
